# docker-compose.yml
version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: dockerfile
      args:
        - VITE_API_BASE_URL=${VITE_API_BASE_URL}
    image: material_frontend:1.0
    container_name: material_front
    ports:
      - "9383:80"
    restart: unless-stopped