# docker-compose.yml
version: '3.8'

services:
  # 서비스 이름을 'web' 또는 'react-app' 등으로 자유롭게 지정
  react-app:
    # 현재 디렉토리(.)의 Dockerfile을 사용하여 이미지를 빌드\
    image: node:22-alpine
    container_name: material_front
    working_dir: /app
    volumes:
      - .:/app
    ports:
      # 호스트의 8080 포트를 컨테이너의 80 포트(Nginx)와 연결
      - "9383:9383"
    restart: unless-stopped # 컨테이너가 중지되면 자동으로 재시작 (서버 다운 대비)
    command: >
      sh -c "
        npm install --ignore-scripts &&
        npm run dev"